[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115,
    C0116,
    W0718, # Catching too general exception Exception (broad-exception-caught)
    R1710, # Either all return statements in a function should return an expression, or none of them should.
    R0904, # Too many public methods (28/20) (too-many-public-methods)
    R0903, # Too few public methods (too-few-public-methods)
    E1101, # Instance of '...' has no 'custom_...' member (no-member)
[FORMAT]
max-line-length=80